@tailwind base;
@tailwind components;
 @tailwind utilities;  
 body{
    background-image: linear-gradient(to bottom, #8a9db8, #8d95b8, #958bb4, #a080ac, #ab759e);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  
 }